<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
    <style>
        table, tr, th,td {
            border: 2px solid rgb(5, 117, 35);
        }
    </style>
</head>
<body>
    <h1>Show student information</h1>
    <table>
        <tr>
            <th>S.N.</th>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Address</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Sujan</td>
            <td>88</td>
            <td>Sujan@gmail.com</td>
            <td>Pokhara</td>
        </tr>
    </table>
</body>
</html>